:root {
  --clr-primary: #669bbc;
  --clr-light: #fdf0d5;
  --clr-dark: #003049;
  --clr-warning: #c1121f;
  --clr-extra: #780000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: white;
  height: 100vh;
  margin: 0;
  font: 500 100% system-ui, sans-serif;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 2fr);
  grid-template-rows: min-content min-content 1fr min-content;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content auto min-content;
  }
  body > * {
    grid-column: 1/-1 !important;
    grid-row: auto !important;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  grid-column: 1/-1;
  color: var(--clr-light);
  background: var(--clr-dark);
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

a:hover {
  color: var(--clr-primary);
}

.page-sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-primary);
  padding: 2rem;
}

.group-container {
  line-height: 2;
}

.group-item {
  cursor: pointer;
}

.page-main {
  grid-column: 2/3;
  grid-row: 2/4;
  background: var(--clr-primary);
}

footer {
  grid-column: 1/-1;
  color: var(--clr-light);
  background: var(--clr-dark);
}
